{% extends "AppEntrega1/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

        <!-- Content section-->
        <section class="py-5">
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h2>¡Contactanos!</h2>
                        <p class="lead">WhatsApp: +54 336 4675621</p>
                        <p class="lead">Email: codereventos@gmail.com</p>
                </div>
            </div>
        </section>


{% endblock%}