{% extends "AppEntrega1/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

        <!-- Content section-->
        <section class="py-5">
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h2>¡Bienvenidos!</h2>
                        <p class="lead">Somos Coder Eventos y estamos para ayudarte a planear tu boda deseada.</p>
                        <p class="mb-0">Estamos felices de acompañarte y para ello necesitamos que cargues en nuestra página tus preferencias de salón, vestido y luna de miel, para que podamos ayudarte a vivir la boda soñada.</p>
                    </div>
                </div>
            </div>
        </section>


{% endblock%}